* {
    box-sizing: border-box;
    font-family: 'roboto', sans-serif;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

hr {
    background-color: $color-tertiary;
    height: 4px;
    border: none;
    width: 50px;
    margin: 0;
    margin-top: -15px;
}
