.img_palette{
    position: relative;
    img{
        position: relative;
        width: 100%;
    }
}

.palette{
    position: relative;
    z-index: 1;
    margin-top: -60px;
    width: 100%;
    height: auto;
    background-color: lighten($color-grey,3%);
    border-top-left-radius: 45px;
    border-top-right-radius: 45px;
    padding: $section-padding;
    h1{
        font-family: 'shrikhand';
    }
}


.entrees{
    margin-top: 40px;

    h2{
        font-weight: 100;
    }
}

.plats{
    @extend .entrees
}

.desserts{
    @extend .entrees
}

.command__button{
    display: flex;
    height: auto;
    padding: 10% 0;
    button{
        margin: auto;
    }
}