.img_restaurant{
    width: 100%;

    img{
        width: 100%;
        max-height: 18em;
        object-fit: cover;
    }

    @media #{$desktop-screen} {
        img{
            max-height: 30em;
        }
    }
}

.restaurant{
    position: relative;
    z-index: 1;
    margin-top: -60px;
    width: 100%;
    height: auto;
    background-color: lighten($color-grey,3%);
    border-top-left-radius: 45px;
    border-top-right-radius: 45px;
    padding: $section-padding;

    h1{
        font-family: 'shrikhand';
    }

    &__header{
        display: flex;
        justify-content: space-between;
    }

    .full_heart{
        position: absolute;
        padding: 10px;
        margin: 30px -50px;
        opacity: 0;

        &:hover{
            color: transparent;
            background-image: linear-gradient(to bottom left, $color-primary, $color-secondary);
            background-clip: text;
            opacity: 1;
            animation: 0.5s heart-grow;
        }
    }

    .empty_heart{
        position: absolute;
        padding: 10px;
        margin: 30px -50px;
    }


}

.entrees{
    width: 100%;
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

    h2{
        font-weight: 100;
        width: 100%;
    }

    .hr__div{
        width: 100%;
    }

    animation: 2s meals-appearance both;
    
    &:nth-child(2){
        opacity: 0;
        animation-delay: 200ms;
    }

    &:nth-child(3){
        opacity: 0;
        animation-delay: 600ms;
    }

    &:nth-child(4){
        opacity: 0;
        animation-delay: 1s;
    }

    @media #{$desktop-screen} {
        .meal__card{
            width: 31%;
        }

        hr{
            margin-bottom: 20px;
        }
    }
}

.plats{
    @extend .entrees
}

.desserts{
    @extend .entrees
}

.command__button{
    display: flex;
    height: auto;
    padding: 10% 0 10% 0;
    button{
        margin: auto;
    }

    @media #{$tablet-screen} {
        padding: 3% 0 0 0;
    }
}