$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;
$color-grey: #ededed;
$color-white: #fff;

$section-padding: 5%;

$border-radius-card: 20px;

$tablet-screen: "only screen and (min-width: 768px)";
$desktop-screen: "only screen and (min-width: 992px)";